<!DOCTYPE html>
<html>
        <head>
        <title>Kick Foo</title>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <meta charset="utf-8">

        <script type="text/javascript" src="/js/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/js/jquery.mobile-1.2.0.min.js"></script>
        <script type="text/javascript" src="/js/game.js"></script>
        <link rel="stylesheet" href="/css/jquery.mobile-1.2.0.css" />
        <link rel="stylesheet" href="/css/kickfoo.min.css" />
        <link rel="stylesheet" href="/css/kickfoo.custom.css" />
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
